.free-question {
    * {
        color: white;
    }
    .MuiTypography-root {
    color: white !important;
    }
    .content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        width: calc(80% - 280px);
    }
    .question-answers {
        width: 100%;
        hr {
            margin: 1rem 0;
        }
    }
    hr {
        border-color: #8c8c8c;
    }
    .question-action {
        margin: 1rem 0;
    }
    .question-info {
        .user a{
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            div {
                margin-right: 1rem;
            }
        }
        width: 100%;
        display: flex;
        flex-direction: column;
        .question-info-upper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                max-width: 100%;
            }
            span {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
        p {
            font-size: small;
            margin: 1rem 0;
        }
        a:hover {
            text-decoration: underline white !important;
        }
    }

    .question-answers, .question-content {
        
        img {
            max-width: 300px;
            max-height: 300px;
            margin: 1rem 1rem 0 0;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 1px #505050;
        }
    }
    .question-content {
        
        margin: 1rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .question-rate {
        p {
            font-size: .9rem;
        }
        small {
            color: #b1b1b1;
        }
        small:hover {
            color: white;
            text-decoration: underline;
        }
    }
    .answer {
        width: 100%;
        background: #656565;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        padding: 1rem ;
        .answer-action {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
        }
        .answer-rating {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            small {
                margin-left: .5rem;
            }
        }
        .answer-person {
            margin: 1rem 0;
            display: flex;
            align-items: center;
        }
    }
    .question-tags {
        hr {
            margin: 1rem 0;
        }
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .add-answer {
        width: 100%;
        margin-top: 1rem;
        textarea { 
            margin-top: 1rem;
            width: 100%;
            border-radius: 10px;
            padding: .5rem;
            color: black;
        }
        .agreement {
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            label span {
                font-size: small;
            }
        }

    }
    .right-sidebar {
        height: calc(100vh - 120px);
        background: #505050;
        width: calc(20%);
        overflow-y: auto;
        .info-about-user, .info-about-subscribe, .info-about-challenges {
            background: #656565;
            width: auto;
            margin: 1rem;
            padding: 1rem;
            height: 200px;
            border-radius: 10px;
        }
        .info-about-subscribe {
            height: fit-content;
            display: flex;
            flex-direction: column;
            background: #656565;
            .MuiButton-root {
                background: #505050;
            }
            button {
                margin: 1rem auto 0 auto;
            }
            h1 {
                font-size: 1.5rem;
                margin-bottom: .3rem;
            }
            h3 {
                margin-top: .3rem;
            }
        }
        .info-about-challenges {
            height: 200px;
        }
    }
}